target/
dist/
bin/
test/
Cargo.lock
*.zip
ide/node_modules
ide/.next
package-lock.json
ide/out
releases/
cli/go.sum
*.iss
ide/public/*
circuittest.json
web/node_modules
web/.next
tools/keys
venv/
.venv/
__pycache__/